{% extends 'base.html.twig' %}

{% block title %}Inicio - GreenHarvest{% endblock %}

{% block body %}
        <div class="row">
        <div class="col-lg-8">
            <article class="mb-5">
            <h1 class="mb-3">Título del artículo de WordPress</h1>
            <img src="https://via.placeholder.com/800x400" alt="Imagen destacada" class="img-fluid mb-4 rounded">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec facilisis erat. Vivamus rhoncus, magna at dapibus convallis, libero elit condimentum erat, non condimentum neque purus a urna.</p>
            <p>Phasellus vulputate nisi nec metus convallis, et commodo urna tincidunt. Donec eu lacus nec lorem hendrerit dignissim.</p>
            <h2>Subtítulo de sección</h2>
            <p>Aliquam erat volutpat. Praesent pulvinar varius leo, sed congue tortor bibendum a. Morbi dapibus lacus in felis facilisis, ut malesuada leo efficitur.</p>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
            </article>
        </div>

        <aside class="col-lg-4">
            <div class="p-4 mb-4 bg-light rounded">
            <h4 class="mb-3">Acerca del autor</h4>
            <p>Este es un ejemplo de sección “Acerca del autor”, típica en blogs de WordPress.</p>
            </div>
            <div class="p-4 mb-4 bg-light rounded">
            <h4 class="mb-3">Entradas recientes</h4>
            <ul class="list-unstyled mb-0">
                <li><a href="#">Cómo usar Bootstrap con Symfony</a></li>
                <li><a href="#">10 consejos para mejorar tu tienda online</a></li>
                <li><a href="#">Qué es Twig y cómo usarlo</a></li>
            </ul>
            </div>
        </aside>
        </div>
{% endblock %}
