{% extends 'base.html.twig' %}

{% block title %}Inicio - GreenHarvest{% endblock %}

{% block body %}

        <div id="productCarousel" class="carousel slide mb-5" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner">
                {% for image in images %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ asset('images/' ~ image) }}" class="d-block w-100 rounded carousel-img" alt="Producto {{ loop.index }}">
                       
                    </div>
                {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <article class="mb-5">
                <h1 class="mb-3">Título del artículo </h1>
                <img src="{{ asset('images/portada.jpeg') }}" alt="Imagen destacada" class="img-fluid mb-4 rounded">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec facilisis erat. Vivamus rhoncus, magna at dapibus convallis, libero elit condimentum erat, non condimentum neque purus a urna.</p>
                <p>Phasellus vulputate nisi nec metus convallis, et commodo urna tincidunt. Donec eu lacus nec lorem hendrerit dignissim.</p>
                <h2>Subtítulo de sección</h2>
                <p>Aliquam erat volutpat. Praesent pulvinar varius leo, sed congue tortor bibendum a. Morbi dapibus lacus in felis facilisis, ut malesuada leo efficitur.</p>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
                </article>
            </div>

            <aside class="col-lg-4">
                <div class="p-4 mb-4 bg-light rounded abc" id="abc1">
    
                    <h4 class="mb-3">Acerca del autor</h4>
                    <p>Este es un ejemplo de sección “Acerca del autor”, típica en blogs de WordPress.</p>
                </div>
                <div class="p-4 mb-4 bg-light rounded abc">
                    <h4 class="mb-3">Entradas recientes</h4>
                    <ul class="list-unstyled mb-0">
                        <li><a href="#">Cómo usar Bootstrap con Symfony</a></li>
                        <li><a href="#">10 consejos para mejorar tu tienda online</a></li>
                        <li><a href="#">Qué es Twig y cómo usarlo</a></li>
                    </ul>
                </div>
                <div class="p-4 mb-4 bg-light rounded abc">
                    <h4 class="mb-3" id="click-fooddata">Alimentos recientes (FoodData Central)</h4>
                    
                    <ul id="fooddata-list" class="list-unstyled mb-0">
                        <li>Cargando datos...</li>
                    </ul>
                    
                    </div>


            </aside>
        </div>
{% endblock %}
