{% extends 'base.html.twig' %}

{% block title %}Listado de Categorías - GreenHarvest{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        {'label': 'Inicio', 'url': path('app_home')},
        {'label': 'Categorías'}
    ] %}
    {% include 'components/_breadcrumb.html.twig' with {'items': breadcrumb} %}
{% endblock %}


{% block body %}

    <!-- Encabezado -->
    <div class="d-flex justify-content-between align-items-center mb-4 ">
        <h1 class="h2 fw-bold text-success mb-0">Categorías</h1>
       
    </div>
    <!-- Formulario de búsqueda -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <form method="get" class="mb-2">
            <div class="input-group">
                <input type="text" id="categorySearch" name="find_categorie" class="form-control rounded-0 " placeholder="Buscar nombre categoría" value="{{ find_categorie }}"> 
                <button class="btn btn-outline-secondary rounded-0 disabled" type="submit">
                    <i class="bi bi-search"></i> 
                </button>
            </div>
        </form>
        <a href="{{ path('categories_new') }}" class="btn btn-outline-success rounded-1 ">
                    <i class="bi bi-plus-circle"></i> Añadir Categoría
        </a>
    </div>



    <!-- Tabla de categorías -->
    <div id="searchResults">
        {% include 'category/_table.html.twig' with {'categories': categories} %}
    </div>


{% endblock %}
