<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-secondary" href="#" id="pickerOpsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ops Center
        </a>
        <ul class="dropdown-menu" aria-labelledby="pickerOpsDropdown">
            <li><a class="dropdown-item" href="{{ path('app_order_storage') }}">Pedidos</a></li>
            <!-- <li><a class="dropdown-item" href="{{ path('app_order_status_index') }}">Estado Pedidos</a></li> -->
        </ul>
</li>